.bigCounter {
    display: flex;
    background: black;
    color: white;
    font-size: 60px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}

.digit, .calendar {
    background: #101010;
    padding: 20px;
    border-radius: 5px;
    width: 70px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}
 

